.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 40px;
    background-color: transparent;
    }
  
  .logo p a {
    text-decoration: none;
    color: #333;
    font-weight: 600;
  }
  
  .nav-links {
    margin-left: 70px;
    display: flex;
    gap: 20px;
    list-style: none;
  }
  
  .nav-links li a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
  }
  
  .nav-links li a:hover {
    color: #f04e23; /* Highlight color */
  }
  .nav-menu {
    display: none;
  }
  .heros {
    background-image: url("https://s3-alpha-sig.figma.com/img/38ae/9761/8126489a52f7b71de16adf75a914aa4e?Expires=1731888000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=Z0Dkor-3-lrFDxXS3djiSWhmsaQpNF7VPCVn~Q6cWQpkInjhQyPaOvGzvKvkxHIjMcYNeD~5mvOdBkMPj7IH~TRATnol5F5JYVRkOPmvZHQT14wonsspDjAeUf7zd2XKZt12xW8EhLKC1SsFk-jXGi5vgcbQpprQskUO9uCi-jk3g9nE7rUgfZsw162lOsMuc2x1~n016FQZO5ZfsV-PbUEeKFSRAlR2U1WUBWPqb8EL9ZeRXQRuSltu0g0L40Wej4T-kC82FMI1b1Y24ygZAubFXgPcSjbeGjsU9uo14fkIDAiGtWc39SyKNuY845Q0YH6N84pfcwL6A1Y8JNSUcQ__");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 35rem;
  }

  
  .hero-texts {
    margin-left: 5rem;
    margin-top: 10rem;
    flex: 1;
    max-width: 50%;
  }
  
  p .first-text {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    color: #12305B;
  }
  
  .hero-texts h1 {
    font-family: Poppins;
    font-size: 60px;
    font-weight: 700;
    color: #12305B;
    margin: 0px 0px;
  }
  
  .hero-texts p {
    font-size: 14px;
    font-weight: 400;
    color: #12305B;
  }
  
  .shop-button {
    background-color: #f04e23;
    color: white;
    padding: 12px 24px;
    border: none;
    font-size: 1em;
    font-weight: 600;
    cursor: pointer;
    border-radius: 4px;
  }
  .product-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    background-color: #fff;
  }
  
  .product-image-container {
    position: relative;
    display: flex;
    align-items: center;
  }
  .product-image-container img {
    width: 40rem;
  }
  
  .product-image {
    width: 300px;
    height: auto;
  }
  
  
  
  .product-info ul {
    list-style: none;
    padding: 0;
    margin: 0;
    color: #4D533C;
    font-family: Poppins;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;

  }
  .product-info li {
    margin-bottom: 8px;
  }
  .product-info {
    max-width: 400px;
    text-align: left;
  }
  .product-info h2 {
    font-family: Poppins;
    font-size: 36px;
    font-weight: 700;
    line-height: 48px;
    color: #12305B;
    margin-top: 0;
  }
  .product-info p {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #21384299;
    margin: 15px 0 20px;
  }
  
  .shop-button {
    padding: 12px 20px;
    font-size: 1em;
    color: #fff;
    background: #FC5959;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .shop-button:hover {
    animation-timing-function: ease-in-out;
    animation-duration: 300ms;
  }


  @media (max-width: 920px) {
    .product-image-container img {
        width: 25rem;
    }
    .product-details ul {
        font-size: 12px;
    }
    .product-details {
        left: 10rem;
    }
    .product-section {
        display: flex;
        flex-direction: column;
    }
    .product-info {
        margin-top: 5rem;
    }
    .reviews-grid {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .reviews-title {
        text-align: center;
    }
  }
@media (max-width: 680px) {
.trusted {
    margin-top: 6rem;
}
.social-media img{
    width: 3rem;
    padding: 0px 15px;
}
.customer-section {
    display: flex;
    flex-direction: column;
}
.testimonials {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.testimonial-card {
    width: 55%;
    margin-top: 20px;
}
.product-section {
    display: flex;
    flex-direction: column;
}
.mission-text p {
    font-size: 12px;
    line-height: 18px;
}
.mission-text li {
    font-size: 12px;
}
.mission-text h2 {
    font-size: 30px;
}
}
@media (max-width: 620px) {
.mission-section {
    display: flex;
    flex-direction: column;
}
}
@media (max-width: 530px) {
.nav-links {
  display: none; /* Hide nav-links by default on small screens */
  flex-direction: column;
  position: absolute;
  top: 60px; /* Position below the navbar */
  left: 0;
  right: 0;
  background-color: white;
  padding: 1rem;
  gap: 1rem;
  z-index: 1;
  height: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.nav-links li {
    margin-top: 60px;
}
/* Show nav-links when menu is open */
.nav-links.active {
  display: flex;
  align-items: center;
}

.nav-menu {
  display: block; /* Show menu icon */
}
.trusted {
    margin-top: 5rem;
}
}
@media (max-width: 400px) {
.trusted {
    margin-top: 5.5rem;
}
.social-media img{
    width: 2rem;
    padding: 0px 8px;
}
.product-details {
    left: 5rem;
}
.product-image-container img {
    width: 20rem;
}
}
@media (max-width: 370px) {
.trusted {
    margin-top: 4rem;
}
.testimonial p {
    font-size: 19px;
    line-height: 25px;
}
.testimonial-info h4 {
    font-size: 18px;
}
.product-details ul {
    font-size: 9px;
}
}
@media (max-width: 355px) {
.trusted {
    margin-top: 1rem;
}
}
